<div class="col-sm-4">
  <div class="row">

    <div class="col-sm-12">
      <div class="pull-right">ADD NEW <i class="fa fa-user" aria-hidden="true" style=""></i>
      </div>
    </div>
  </div>

  <div class="bg-blue">
    <input type="text" class="form-control">
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        <input class="m-h-sm"
               type="checkbox"
               [checked]="all"
               (change)="chackUncheckAll()"/>
      </th>
      <th>PIC</th>
      <th>NAME</th>
      <th>ACTIVE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td><input class="m-h-sm" type="checkbox"/></td>
      <td><img [src]="user.Icon" alt=""> </td>
      <td>{{user.Name}}</td>
      <td>{{user.IsActive}}</td>
    </tr>

    </tbody>
  </table>
</div>
